<router-outlet></router-outlet>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <app-custom-input [type]="'text'" [label]="'Name'" formControlName="name"></app-custom-input>

    <app-custom-input [type]="'email'" [label]="'Email'" formControlName="email"></app-custom-input>

    <app-custom-input [type]="'password'" [label]="'Password'" formControlName="password"></app-custom-input>
    <button>Submit Value</button>
  </form>
</div>

<pre>{{formsValue | json}}</pre>
